body {
  background-color: #f0f2f5;
  font-family: sans-serif;
}

.w-500px {
  width: 500px;
}

.text-28px {
  font-size: 28px;
}

.position-gx {
  margin-top: -75px;
  margin-left: 55px;
}

.h-106px {
  height: 106px;
}

.fb-log-container {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 0 28px;
  width: 395px;
}

.focus:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.focus:focus:-ms-input-placeholder {
  opacity: 0.5;
}

.focus:focus::-ms-input-placeholder {
  opacity: 0.5;
}

.focus:focus::placeholder {
  opacity: 0.5;
}

.fb-log-input {
  border: 1px solid #dddfe2;
  outline: none;
  border-radius: 6px;
  color: #1d2129;
  font-size: 17px;
  line-height: 16px;
  padding: 14px 16px;
  width: 365px;
  max-width: 100%;
}

.fb-log-input:focus {
  border-color: #1877f2;
  caret-color: #1877f2;
  -webkit-box-shadow: 0 0 0 2px #e7f3ff;
          box-shadow: 0 0 0 2px #e7f3ff;
}

.fb-log-input:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

.fb-log-input:focus:-ms-input-placeholder {
  opacity: 0.6;
}

.fb-log-input:focus::-ms-input-placeholder {
  opacity: 0.6;
}

.fb-log-input:focus::placeholder {
  opacity: 0.6;
}

.fb-button-log {
  background-color: #1877f2;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 6px;
  line-height: 48px;
  padding: 0 16px;
  width: 365px;
  color: white;
  -webkit-transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  font-weight: 700;
  cursor: pointer;
}

.fb-button-log:hover {
  background-color: #166fe5;
}

.fb-forgot-log {
  font-size: 14px;
  font-weight: 500;
  color: #1877f2;
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  text-align: center;
  margin-top: 16px;
}

.fb-forgot-log:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.fb-hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 365px;
  text-align: center;
  border-bottom: 1px solid #dadde1;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fb-create-log {
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 6px;
  -webkit-transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  transition: background-color 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-box-shadow 0.2s cubic-bezier(0.08, 0.52, 0.52, 1), -webkit-transform 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);
  line-height: 48px;
  padding: 0 16px;
  cursor: pointer;
  background-color: #42b72a;
  font-weight: 700;
  color: white;
  text-align: center;
}

.fb-create-log:hover {
  background-color: #36a420;
}

.fb-create-log:focus {
  background-color: #2b9217;
}

.fb-group-log {
  font-size: 14px;
  color: #1c1e21;
}

.fb-input-error {
  border: 1px solid red !important;
  caret-color: black !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-error-icon {
  width: 20px;
  height: 20px;
  background-position: 0 -183px;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/r9i08iytr0n.png");
  background-repeat: no-repeat;
  background-size: auto;
  right: 20px;
  top: 16%;
}

.none {
  display: none !important;
}

.linker {
  color: #385898;
  text-decoration: none;
  cursor: pointer;
}

.linker:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.fb-text-error {
  color: #f02849 !important;
  font-size: 13px;
  line-height: 16px;
  margin-top: 8px;
}

._hover-scss:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#79bc64), to(#578843));
  background: linear-gradient(#79bc64, #578843);
}

.padding-default-0 {
  --bs-gutter-x: 0px !important;
}

.responsive\:tooltip::before {
  content: "";
  background-color: #be4b49;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 15px;
  position: absolute;
  right: -8px;
  margin-top: 2px;
  height: 15px;
}

.nav__animation {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.nav__animation:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.create__animation {
  cursor: pointer;
}

.create__animation:hover {
  background-color: #525357af;
}

@media all and (max-width: 1250px) {
  .responsive\:info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .responsive\:validation {
    width: 550px;
    margin-right: 0px;
  }
  .position-gx {
    margin: 0;
  }
}

@media all and (max-width: 745px) {
  .gender\:responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gender\:responsive span {
    width: 100% !important;
    margin-left: 0px;
    margin-top: 10px;
    position: relative;
  }
  .gender\:responsive input {
    position: absolute;
    right: 15px;
    top: 20px;
  }
  .signin\:responsive {
    width: 100% !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .signin\:responsive ._responsive\:direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signin\:responsive ._responsive\:direction input,
  .signin\:responsive ._responsive\:direction select {
    width: 100% !important;
    margin-left: 0px;
  }
  .signin\:responsive ._responsive\:direction input:nth-child(2) {
    margin-top: 10px;
  }
  .signin\:responsive ._responsive\:direction select:nth-child(2),
  .signin\:responsive ._responsive\:direction select:nth-child(3) {
    margin-bottom: 10px;
  }
  .input__max__scss {
    width: 100% !important;
  }
  .respo\:mt-3 {
    margin-top: 1rem;
  }
}

@media all and (max-width: 433px) {
  .input-error-icon {
    right: 20px;
  }
}

@media all and (max-width: 385px) {
  .input-error-icon {
    display: none !important;
  }
}
/*# sourceMappingURL=index.css.map */